.header {
    position:relative;
    height:200px;
    background: var(--gray-700);
    display: flex;
    justify-content: center;
    align-items: center;
}

.form{
    height:3rem;
    width:100%;
    max-width:46rem;
    bottom:calc(-3rem/2);
    display: flex;
    padding:0 1rem;
    gap:0.5rem;
    position:absolute;
}
.form input{
    height:100%;
    flex:1;
    color:var(--gray-100);
    background:var(--gray-500);
    border:1px solid var(--gray-700);
    border-radius:8px;
    padding:1rem;
    letter-spacing:2px;
}

.form button{
    display:flex;
    align-items:center;
    height:100%;
    padding: 1rem;
    background:var(--blue-dark);
    border:none;
    border-radius:8px;
    color:var(--gray-100);
    gap:0.5rem;
    font-weight:bold;
    text-transform:capitalize;
}

https://www.youtube.com/watch?v=yOtrpD8UjYQ
